.checkout-container {
  margin-top: 30px;
  height: 90vh;
}

a,
a>p {
  padding-left: 15px;
  margin-bottom: 20px;
}

.order {
  width: 100%;
}

.pop-msg {
  text-align: center;
  color: rgb(29, 26, 26);
  background-color: var(--clear);
  font-weight: strong;
}

.finished-purchase {
  width: 100%;
  padding-top: 10%;
  text-align: center;
}
