<form>
  <label for="username">
    <input type="text" id="username" required placeholder="Full name">
  </label>
  <label for="email">
    <input type="email" id="email" requireed placeholder="Email">
  </label>
  <fieldset>
    <input type="text" required placeholder="Adress">
    <input type="text" required placeholder="Adress Line 2">
    <input type="text" required placeholder="City - State">
    <input type="number" required placeholder="Zip Code">
  </fieldset>

  <button class="default-btn">Place Order</button>
</form>
