.updateqtt {
  width: 100%
}

.qttNumber {
  width: 50px;
}

.cart-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "img name name btns"
    "img price price btns";
  max-height: 200px;
}

img {
  max-height: 200px;
  grid-area: img;
}

.item-btn {
  width: 100%;
}

.prod-name {
  grid-area: name;
  text-align: start;
}

.prod-price {
  grid-area: price;
}

.cart-input {
  grid-area: btns;
  display: inline-block;
}

.qtt {
  display: inline-block;
}
