.empty-car {
  width: 100%;
  height: 90vh;
  background-image: url(/assets/img/sad.png);
  background-position: center;
  background-repeat: no-repeat;
}

p {
  width: 100%;
  padding-top: 10%;
  text-align: center;
}

.cart-btns {
  margin-top: 50px;
}

h1 {
  width: 100%;
  padding-top: 10%;
  text-align: center;
}
