:root {
  --bgc: #f01e23;
  --clear: #ffffff4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: var(--bgc);
  min-width: 550px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.default-btn {
  background-color: transparent;
  border: 2px solid var(--clear);
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  min-height: 20px;
  width: 50%;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.default-btn:disabled {
  pointer-events: none;
}

.default-btn:hover {
  color: #fff;
  background-color: var(--clear);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.default-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

input {
  text-align: center;
  width: 300px;
  height: 50px;
  font-size: 50px;
  border-width: 0px;
  border: none;
  outline: none;
  background-color: var(--dark);
  border-bottom: 3px solid var(--clear);
  color: var(--terciary);

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
