:root {
  --bgc: #f01e23;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 550px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.default-btn {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  line-height: normal;
  min-height: 20px;
  width: 50%;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.default-btn:disabled {
  pointer-events: none;
}

.default-btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.default-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
